---
layout: defaultING
---
{% if site.sidebar.localizacion-sidebar == 'left' %}
  {% include ING/botones-idioma.html %}
{% else %}
<script>
  // Una vez cargue la página cambiamos el tipo de display a flex ya que si lo hacemos antes de que se renderizen los gráficos no funcionaría
  window.onload = function() {
      var contenedorBotones = document.getElementsByClassName("contenedor-botones-derecha");
      for (let i = 0; i < contenedorBotones.length; i++) {
        contenedorBotones[i].className = "contenedor-botones-izquierda";
      }
  };
</script>
  {% include ING/botones-idioma.html %}
{% endif %}

{% include ING/sobre-mi.html %}

{% unless site.sidebar.educacion %}
  {% include ING/educacion.html %}
{% endunless %}

{% include ING/experiencia.html %}

{% include ING/proyectos.html %}

{% include ING/publicaciones.html %}

{% include ING/premios.html %}

{% include ING/voluntariado.html %}

{% include ING/habilidades.html %}
