---
layout: defaultESP
---
{% if site.sidebar.localizacion-sidebar == 'left' %}
  {% include ESP/botones-idioma.html %}
{% else %}
<script>
  // Una vez cargue la página cambiamos el tipo de display a flex ya que si lo hacemos antes de que se renderizen los gráficos no funcionaría
  window.onload = function() {
      var contenedorBotones = document.getElementsByClassName("contenedor-botones-derecha");
      for (let i = 0; i < contenedorBotones.length; i++) {
        contenedorBotones[i].className = "contenedor-botones-izquierda";
      }
  };
</script>
  {% include ESP/botones-idioma.html %}
{% endif %}

{% include ESP/sobre-mi.html %}

{% unless site.sidebar.educacion %}
  {% include ESP/educacion.html %}
{% endunless %}

{% include ESP/experiencia.html %}

{% include ESP/proyectos.html %}

{% include ESP/publicaciones.html %}

{% include ESP/premios.html %}

{% include ESP/voluntariado.html %}

{% include ESP/habilidades.html %}
