{% assign soft-skills = site.data.dataESP.soft-skills %}

{% if soft-skills.elementos %}
<section class="skills-section section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-users fa-stack-1x fa-inverse"></i>    
    </span>
    {{ soft-skills.titulo-seccion }}
  </h2>

  <div class="soft-skillset">

    {% for soft-skill in soft-skills.elementos %}
    <button disabled class="soft-skill-button" type="button">{{soft-skill.nombre}}</button>
    {% endfor %}

  </div>

</section><!--//cv-skills-section-->
{% endif %}