{% assign contacto = site.data.dataING.contacto %}

{% if contacto.elementos %}

<div class="contact-container container-block">
  <h2 class="container-block-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x base"></i>
      <i class="fas fa-address-card fa-stack-1x fa-inverse icono"></i>
    </span>
    {{contacto.titulo-seccion}}
  </h2>

  <ul class="list-unstyled contact-list">

    {% if contacto.elementos.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:{{ sidebar.email }}">{{ contacto.elementos.email }}</a>
    </li>
    {% endif %}

    {% if contacto.elementos.telefono %}
    <li class="phone"><i class="fas fa-phone"></i>
      <a href="tel:{{ sidebar.phone }}">{{ contacto.elementos.telefono }}</a>
    </li>
    {% endif %}

    {% if contacto.elementos.citizenship %}
    <li class="phone"><i class="fas fa-passport"></i>
      <a href="">{{ contacto.elementos.citizenship }}</a>
    </li>
    {% endif %}

    {% if contacto.elementos.telegram %}
    <li class="telegram"><i class="fab fa-telegram"></i>
      <a href="https://t.me/{{ sidebar.telegram }}" target="_blank">{{ contacto.elementos.telegram }}</a>
    </li>
    {% endif %}

    {% if contacto.elementos.website %}
    <li class="website"><i class="fas fa-globe-americas"></i>
      <a href="http://{{ sidebar.website }}" target="_blank">{{ contacto.elementos.website }}</a>
    </li>
    {% endif %}

    {% if contacto.elementos.linkedin %}
      <li class="linkedin"><i class="fab fa-linkedin"></i>
        <a href="https://linkedin.com/in/{{ contacto.elementos.linkedin }}" target="_blank">{{ perfil.nombre }}</a>
      </li>
    {% endif %}

    {% if contacto.elementos.xing %}
    <li class="xing"><i class="fab fa-xing"></i>
      <a href="https://www.xing.com/profile/{{ contacto.elementos.xing }}" target="_blank">{{ contacto.elementos.xing }}</a>
    </li>
    {% endif %}

    {% if contacto.elementos.github %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="http://github.com/{{ contacto.elementos.github }}" target="_blank">{{ contacto.elementos.github }}</a>
    </li>
    {% endif %}

    {% if contacto.elementos.gitlab %}
    <li class="gitlab"><i class="fab fa-gitlab"></i>
      <a href="http://gitlab.com/{{ contacto.elementos.gitlab }}" target="_blank">{{ contacto.elementos.gitlab }}</a>
    </li>
    {% endif %}

    {% if contacto.elementos.bitbucket %}
    <li class="bitbucket"><i class="fab fa-bitbucket"></i>
      <a href="http://bitbucket.com/{{ contacto.elementos.bitbucket }}" target="_blank">{{ contacto.elementos.bitbucket }}</a>
    </li>
    {% endif %}

    {% if contacto.elementos.twitter %}
    <li class="twitter"><i class="fab fa-twitter"></i>
      <a href="https://twitter.com/{{ contacto.elementos.twitter }}" target="_blank">{{ contacto.elementos.twitter }}</a>
    </li>
    {% endif %}

    {% if contacto.elementos.stack-overflow %}
    <li class="stack-overflow"><i class="fab fa-stack-overflow"></i>
      <a href="https://stackoverflow.com/users/{{ contacto.elementos.stack-overflow }}" target="_blank">{{ contacto.elementos.stack-overflow }}</a>
    </li>
    {% endif %}

    {% if contacto.elementos.codewars %}
    <li class="codewars"><i class="fas fa-code"></i>
      <a href="https://www.codewars.com/users/{{ contacto.elementos.codewars }}/completed_solutions" target="_blank">{{ contacto.elementos.codewars }}</a>
    </li>
    {% endif %}

    {% if contacto.elementos.goodreads %}
    <li class="goodreads-g"><i class="fab fa-goodreads-g"></i>
      <a href="https://www.goodreads.com/user/show/{{ contacto.elementos.goodreads }}" target="_blank">{{ contacto.elementos.goodreads }}</a>
    </li>
    {% endif %}

    {% if contacto.elementos.pdf %}
    <li class="pdf"><i class="fas fa-file-pdf"></i>
      <a href="{{ contacto.elementos.pdf.enlace }}" target="_blank">{{ contacto.elementos.pdf.titulo }}</a>
    </li>
  {% endif %}

  </ul>
</div><!--//contact-container-->

{% endif %}