{% assign educacion = site.data.dataING.educacion %}

{% if educacion.elementos %}

  {% if site.sidebar.educacion %}
  <div class="education-container container-block">
    <h2 class="container-block-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x base"></i>
        <i class="fas fa-graduation-cap fa-stack-1x fa-inverse icono"></i>
      </span>
      {{educacion.titulo-seccion}}
    </h2>

    {% for educacion in educacion.elementos %}
    <div class="item">
      {% if educacion.enlace %}
        <h4 class="degree"><a target="_blank" href="{{ educacion.enlace }}">{{ educacion.titulo }}</a></h4>
      {% else %}
        <h4 class="degree">{{ educacion.titulo }}</h4>
      {% endif %}
      <h5 class="meta">{{ educacion.universidad }}</h5>
      <div class="time">{{ educacion.periodo }}</div>
    </div><!--//item-->
    {% endfor %}

  </div><!--//education-container-->
  {% else %}
  <section class="section educations-section">

    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
      </span>
      {{educacion.titulo-seccion}}
    </h2>

    {% for educacion in educacion.elementos %}
    <div class="item">

      <div class="meta">

        <div class="upper-row">
          <h3 class="degree">{{ educacion.titulo }}</h3>
          <div class="time">{{ educacion.periodo }}</div>
        </div><!--//upper-row-->

        <div class="university">{{ educacion.universidad }}</div>
      </div><!--//meta-->

      {% if graduation.details %}
      <div class="details">
        {{ graduation.details | markdownify }}
      </div><!--//details-->
      {% endif %}

    </div><!--//item-->
    {% endfor %}

  </section><!--//section-->
  {% endif %}
{% endif %}
