{% assign sidebar = site.data.dataING.sidebar %}
{% assign perfil = site.data.dataING.perfil %}

{% if site.sidebar.localizacion-sidebar == 'left' %}
  <div class="sidebar-wrapper" style="order: 0;">
{% else %}
  <div class="sidebar-wrapper" style="order: 1;">
{% endif %}

  <div class="profile-container">

    {% if perfil.nombre %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ perfil.avatar }}" alt="profile picture" />
    {% endif %}

    {% if perfil.nombre %}
    <h1 class="name">{{ perfil.nombre }}</h1>
    {% endif %}

    {% if perfil.descripcion %}
    <h3 class="tagline">{{ perfil.descripcion }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include ING/contacto.html %}

  {% if site.sidebar.educacion %}
    {% include ING/educacion.html %}
  {% endif %}

  {% include ING/cursos.html %}

  {% include ING/idiomas.html %}
  {% include ING/intereses.html %}
  
</div><!--//sidebar-wrapper-->
