{% assign cursos = site.data.data.cursos %}
{% if cursos.elementos %}

<div class="cursos-container container-block">
    <h2 class="container-block-title">
        <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x base"></i>
        <i class="fas fa-star fa-stack-1x fa-inverse icono"></i>
      </span>
      {{cursos.titulo-seccion}}
    </h2>

    {% for curso in cursos.elementos %}
    <div class="item">
      <h4 class="degree"><a target="_blank" href="{{ curso.link }}">{{ curso.nombre }}</a></h4>
      <h5 class="time">{{ curso.fecha }}</h5>
    </div>
    {% endfor %}
  </div>
{% endif %}