{% if site.idioma == "ESP" %}
  {% assign sidebar = site.data.dataESP.sidebar %}
  {% assign perfil = site.data.dataESP.perfil %}
{% else %}
  {% assign sidebar = site.data.dataING.sidebar %}
  {% assign perfil = site.data.dataING.perfil %}
{% endif %}

{% if site.sidebar.localizacion-sidebar == 'left' %}
  <div class="sidebar-wrapper" style="order: 0;">
{% else %}
  <div class="sidebar-wrapper" style="order: 1;">
{% endif %}

  <div class="profile-container">

    {% if perfil.nombre %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ perfil.avatar }}" alt="profile picture" />
    {% endif %}

    {% if perfil.nombre %}
    <h1 class="name">{{ perfil.nombre }}</h1>
    {% endif %}

    {% if perfil.descripcion %}
    <h3 class="tagline">{{ perfil.descripcion }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contacto.html %}

  {% if site.sidebar.educacion %}
    {% include educacion.html %}
  {% endif %}

  {% include cursos.html %}

  {% include idiomas.html %}
  {% include intereses.html %}
  
</div><!--//sidebar-wrapper-->
