{% if site.idioma == "ESP" %}
  {% assign sobre-mi = site.data.dataESP.sobre-mi %}
{% else %}
  {% assign sobre-mi = site.data.dataING.sobre-mi %}
{% endif %}
{% if sobre-mi %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ sobre-mi.titulo-seccion }}
  </h2>

  <div class="summary">
    {{ sobre-mi.descripcion | markdownify }}
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
